# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Validate and publish to GH Pages

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
      - 'data/**'
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.3.1
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: 'pnpm'
      - name: Install Packages
        run: pnpm install
      - name: Validate Processings
        run: pnpm validate-processings
      - name: Validate Blueprints
        run: pnpm validate-blueprints
      - name: Validate Frontend
        run: pnpm validate-frontend
      - name: Validate APIs Folder
        run: pnpm validate-apis-folder
      - name: Check Airnode feed version
        run: pnpm check-airnode-feed-version
      - name: Validate Generated Files
        run: pnpm validate-generated-files
      - name: Run unit tests
        run: pnpm test:unit
      - name: Check Deployment Status
        run: pnpm check-deployment-status
      - name: Check TXT records
        run: pnpm check-txt-records

  deploy-frontend:
    needs: validate
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
    - uses: actions/checkout@v4
    - name: Setup pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 8.3.1
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
        cache: 'pnpm'
    - name: Install Packages
      run: pnpm install
    - name: Build Page
      run: pnpm build
    - name: Deploy to Github Pages
      if : github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'deploy')
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: ./frontend/build